/**
 * THM theme for reveal.js. This is the corporate design of THM
 *
 * By Till Koch, till.koch@mni.thm.de
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(./fonts/arial-fontfamily/arial.css);
@import url(./fonts/din-pro/din-pro.css)
//@import url(./fonts/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #4A5C66;
$headingColor: #4A5C66;

$mainFontSize: 42px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #80BA24;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

// Change text colors against dark slide backgrounds
@include dark-bg-text-color(#fff);

// Footer
.reveal .footer {
	position: fixed;
	display: block;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 5.2%;
	min-height: 12pt;
	background-color: #4A5C66;
}

.reveal .footer-left {
	position: fixed;
	display: block;
	left: 3.5%;
	bottom: 2.6%;
	 -ms-transform: translateY(-50%);
	transform: translateY(50%);
	z-index: 0;
	font-family: Arial;
	font-size: 12pt;
	text-align: center;
	height: 12pt;
	line-height: 1;
	background-color: transparent;
	color: #fff;
	padding: 5px;
}

// ***************************
//  LOGO STYLES
// ***************************

// THM Logo in top left corner
.reveal .thmlogo {
	position: fixed;
	display: block;
    bottom: unset;
    right: unset;
	left: 3.5%;
	top: 4.5%;
	z-index: 31;
  	width: 13.5%;   
  	height: 9.5%;
  	background-image: url('../../assets/img/thm-logo.svg');
  	background-size: contain;
  	background-position: 0% 0%;
  	background-repeat: no-repeat;
}

// 69,3% höhe logo schrift zu gesamthöhe
// 83,3% breite iti logo zu thm logo

// ITI Logo in top left corner
.reveal .itilogo {
	position: fixed;
	display: block;
	bottom: unset;
	right: unset;
	left: 20%;
	top: 4.5%;
	z-index: 31;
	width: 11.25%;
	height: 6.58%;
	background-image: url('../../assets/img/iti_2020.svg');
	background-size: contain;
	background-position: 0% 0%;
	background-repeat: no-repeat;
}

// MNI Logo in top left corner
.reveal .mnilogo {
	position: fixed;
	display: block;
    bottom: unset;
    right: unset;
	left: 3.5%;
	top: 4.5%;
	z-index: 31;
  	width: 34.5%;   
  	height: 9.5%;
  	background-image: url('../../assets/img/Logo_THM_CG_FB06_4c.svg');
  	background-size: contain;
  	background-position: 0% 0%;
  	background-repeat: no-repeat;
}

/*********************************************
 * SLIDE NUMBER
 *********************************************/

 // TODO: Change Number Height

// footer: left start: 3.5%
// right: page number end: 96.9% / 96.2%


.reveal .slide-number {
	position: fixed;
	display: block;
	right: 3.8%;
	bottom: 2.6%;
	 -ms-transform: translateY(-50%);
	transform: translateY(50%);
	z-index: 0;
	font-family: Arial;
	font-size: 12pt;
	text-align: center;
	height: 12pt;
	line-height: 1;
	background-color: transparent;
	color: #fff;
	padding: 5px;
}

.reveal .slide-number a {
	color: currentColor;
}

.reveal .slide-number-delimiter {
	margin: 0 3px;
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
